body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
}
form{
    border: 2px solid rgb(13, 8, 111);
    height: 700px;
    border-radius: 25px;
    margin-top: 100px;
    margin-left: 100px; 
}
.container{
    width: 100px;

}
.inputDiv{
    
    background: blue;
    margin: 20px;
    align-items: center;
    
    border-radius: 50px;
    
}

.labelInput {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: black;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    position: absolute;
    margin-top: 20px;
    color: white;
}

#addr, #tel, #email, #name{
    position: relative;
    background: white;
    left: 10%;
    top: 10px;
    width: 91%;
    height: 40px;
    border-radius: 19px;
    border: none;
}

#button{
    width: 200px;
    height: 60px;
    margin-left: 100px;
    color: rgba(0, 0, 255, 0.151);
}
.cool{
    color: rgb(2, 2, 5);
}
.blockquote{
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border: none;
}

blockquote p{
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid black;

}
.img{
    display:flex;
    flex-direction: column;
}
